<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs Kit</title>
</head>
<body>
    <h1>Nodejs Kit</h1>

    <footer>
        Designed By <a href="http://apnacoder.com/">ApnaCoder</a>
    </footer>
</body>
</html>